{% extends "base.html" %}
{% load i18n thumbnail main_category_tags %}
{% block head_title %}{% trans "Nikah Ufa"%}{% endblock %}

{% block content %}
<section class="slider_container">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="prev_button"><i class="fa fa-angle-left" aria-hidden="true"></i></div>
                    <div class="next_button"><i class="fa fa-angle-right" aria-hidden="true"></i></div>
                    <div class="carousel">
                        {% if slider %}
                        {% for item in slider %}
                            {% thumbnail item.photo "450x250" crop="center" as im %}
                                <div class="slide_item"><a href="{% url 'main:product_detail' item.pk %}"><img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="pic"></a></div>
                            {% endthumbnail %}
                        {% endfor %}
                        {% endif %}
                       
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="content">
        <div class="container">
            <div class="row">
                {% include "main/_products.html" %}
                <div class="col-md-3 col-md-pull-9">
                    <p class="category">{% trans "Categories" %}</p>
                    {% get_category_list %}
                </div>
            </div>
        </div>
    </section>
    <section class="pages">
        <div class="container">
            <div class="col-md-offset-4 col-md-7 centered">
            {% include "main/_pagination.html" %}
            </div>
        </div>
    </section>
{% endblock %}
