{% extends "base.html" %}
{% load i18n %}
{% block head_title %}{% trans "Никах Уфа"%}{% endblock %}

{% block content %}
<section class="slider_container">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="prev_button"><i class="fa fa-angle-left" aria-hidden="true"></i></div>
                    <div class="next_button"><i class="fa fa-angle-right" aria-hidden="true"></i></div>
                    <div class="carousel">
                        <div class="slide_item"><img src="https://pp.userapi.com/c636116/v636116486/3ca15/rcAgI6rTVOU.jpg" alt="pic"></div>
                        <div class="slide_item"><img src="https://pp.userapi.com/c636116/v636116486/3ca15/rcAgI6rTVOU.jpg" alt="pic"></div>
                        <div class="slide_item"><img src="https://pp.userapi.com/c636116/v636116486/3ca15/rcAgI6rTVOU.jpg" alt="pic"></div>
                        <div class="slide_item"><img src="https://pp.userapi.com/c636116/v636116486/3ca15/rcAgI6rTVOU.jpg" alt="pic"></div>
                        <div class="slide_item"><img src="https://pp.userapi.com/c636116/v636116486/3ca15/rcAgI6rTVOU.jpg" alt="pic"></div>
                        <div class="slide_item"><img src="https://pp.userapi.com/c636116/v636116486/3ca15/rcAgI6rTVOU.jpg" alt="pic"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="content">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <p class="category">{% trans "Категории" %}</p>
                    <div class="list-group">
                        <a href="#" class="list-group-item active">Все</a>
                        <a href="#" class="list-group-item">Платки</a>
                        <a href="#" class="list-group-item">Платья</a>
                        <a href="#" class="list-group-item">Одежда для никаха</a>
                        <a href="#" class="list-group-item">Длинные юбки</a>
                        <a href="#" class="list-group-item">Хиджаб</a>
                    </div>
     			</div>
                <div class="col-md-9">
				<div class="col-sm-4">
                        <div class="thumbnail">
                            <img src="http://placehold.it/320x150" alt="">
                            <div class="caption">
                                <h4 class="pull-right">2499.99 рублей</h4>
                                <h4><a href="product.html">Красивое платье для никаха</a>
                                </h4>
                                <p>See more snippets like this online store item at <a target="_blank" href="http://www.bootsnipp.com">Bootsnipp - http://bootsnipp.com</a>.</p>
                            </div>
                            <div class="ratings">
                                <p class="pull-right">15 reviews</p>
                                <p>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="thumbnail">
                            <img src="http://placehold.it/320x150" alt="">
                            <div class="caption">
                                <h4 class="pull-right">$64.99</h4>
                                <h4><a href="product.html">Second Product</a>
                                </h4>
                                <p>This is a short description. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            </div>
                            <div class="ratings">
                                <p class="pull-right">12 reviews</p>
                                <p>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="thumbnail">
                            <img src="http://placehold.it/320x150" alt="">
                            <div class="caption">
                                <h4 class="pull-right">$74.99</h4>
                                <h4><a href="product.html">Third Product</a>
                                </h4>
                                <p>This is a short description. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            </div>
                            <div class="ratings">
                                <p class="pull-right">31 reviews</p>
                                <p>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="thumbnail">
                            <img src="http://placehold.it/320x150" alt="">
                            <div class="caption">
                                <h4 class="pull-right">$84.99</h4>
                                <h4><a href="#">Fourth Product</a>
                                </h4>
                                <p>This is a short description. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            </div>
                            <div class="ratings">
                                <p class="pull-right">6 reviews</p>
                                <p>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="thumbnail">
                            <img src="http://placehold.it/320x150" alt="">
                            <div class="caption">
                                <h4 class="pull-right">$94.99</h4>
                                <h4><a href="#">Fifth Product</a>
                                </h4>
                                <p>This is a short description. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            </div>
                            <div class="ratings">
                                <p class="pull-right">18 reviews</p>
                                <p>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="thumbnail">
                            <img src="http://placehold.it/320x150" alt="">
                            <div class="caption">
                                <h4 class="pull-right">$94.99</h4>
                                <h4><a href="#">Fifth Product</a>
                                </h4>
                                <p>This is a short description. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            </div>
                            <div class="ratings">
                                <p class="pull-right">18 reviews</p>
                                <p>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                </p>
                            </div>
                        </div>
                    </div>
 			</div>

            </div>
        </div>
    </section>
    <section class="pages">
        <div class="container">
            <div class="col-md-offset-4 col-md-7 centered">
            <ul class="pagination pagination-sm">
                <li class="disabled"><a href="#">&laquo;</a></li>
                    <li class="active"><a href="#">1</a></li>
                    <li><a href="?page={{ num }}"> 2</a></li>
                    <li><a href="?page={{ num }}"> 3</a></li>
                    <li><a href="?page={{ num }}"> 4</a></li>


                <li class="disabled"><a href="#">&raquo;</a></li>
            </ul>
            </div>
        </div>
    </section>
{% endblock %}

